{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true
}
